.content
  .row
    .span8.title
      DataVizard : 
      %span
        %select#mapName
          %option
            Forbes Billionaires
  .row
    .span4.caption
      Built with
      %a{href: "http://apify.heroku.com/resources/4feb6e3b20612e0001000004", target: '_blank'}
        APIfy.
  .row
    &nbsp;
  .row
    .span4.offset8
      .face
        %img{src: "http://placehold.it/50x50"}
      .rank
        \#
        %span.value
      .name
      .country
      .networth
    .span12
      %p#chart